<!doctype html>
<html>
   <body>
      <table border = 1>
         <thead>
            <td>Id</td>
            <td>Time</td>
            <td>Lat.</td>
            <td>Long.</td>
            <td>Speed</td>
            <td>Phone On?</td>
            <td>Sentiment</td>
         </thead>
         
         {% for row in rows %}
            <tr>
               <td>{{row["id"]}}</td>
               <td>{{row["time_recorded"]}}</td>
               <td> {{ row["loc_y"]}}</td>
               <td>{{row['loc_x']}}</td>	
               <td>{{row['speed']}}</td>	
               <td>{{row['phone_on']}}</td>
               <td>{{row['feeling']}}</td>
            </tr>
         {% endfor %}
      </table>
   </body>
</html>